* {
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #e3e3e3;
  z-index: 9999;
}

.section {
  margin-top: 16%;
}

.contacto {
  padding-top: 10px;
  padding-left: 25%;
  display: flex;
  justify-content: unset;
}

.icon {
  width: 20px;
  height: 20px;
}

.tel {
  padding-left: 20px;
  color: blue;
}

.enlace {
  text-decoration: none;
}

.enlace:hover {
  transition: 3s;
  color: rgb(50, 42, 165);
}

.lista {
  display: flex;
  justify-content: right;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.list {
  list-style: none;
  display: inline-block;
  margin: 5px;
  padding-right: 15%;
}

.boule {
  padding-left: 5%;
}

.logo {
  width: 10%;
  padding-top: 1%;
}

.logoContainer {
  padding-left: 2%;
}

.titulo {
  background-color: rgb(36, 36, 42);
  padding-top: 30px;
  padding-bottom: 30px;
}

.tituloPrincipal {
  color: white;
  display: flex;
  justify-content: center;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.image-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.image-wrapper {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 10px;
  border: 2px solid #ddd;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Agregar sombra */
  transition: transform 0.3s;
}

.image-wrapper img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s, transform 0.3s;
}

.image-wrapper:hover {
  transform: scale(1.1);
}

.image-wrapper:hover img {
  opacity: 0.7;
}

.image-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  color: #fff;
  background-color: rgba(0, 128, 255, 0.171);
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-wrapper:hover .image-description {
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .image-wrapper {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 480px) {
  .image-wrapper {
    width: 120px;
    height: 120px;
  }
}


.carousel {
  margin-bottom: 20px;
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.carousel-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.container {
  padding-top: 30px;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.descripcion {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
}

.descripcion p {
  margin: 0;
}

.imagen:hover {
  cursor: pointer;
  background-color: rgba(0, 191, 255, 0.7);
}

.imagen:hover img {
  opacity: 0.7;
}

.imagen:hover .descripcion {
  opacity: 1;
}

/* Media queries para hacerlo responsive */

@media (max-width: 768px) {
  .imagen {
    width: 100%;
    height: auto;
  }
}


.tituloNosotros {
  background-color: rgb(36, 36, 42);
  padding-top: 30px;
  padding-bottom: 30px;
}

.nosotros {
  color: white;
  display: flex;
  justify-content: center;
}

.intro {
  text-align: center;
  font-size: 20px;
  padding-left: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.tituloSanitarios {
  text-align: initial;
  padding-left: 20px;
}

.tituloInfraestructura {
  text-align: initial;
  padding-left: 20px;
}

.tituloTendido {
  text-align: initial;
  padding-left: 20px;
}

.tituloPead {
  text-align: initial;
  padding-left: 20px;
}

.pUno {
  text-align: initial;
  font-size: 18px;
  padding-left: 20px;
}

.pDos {
  text-align: initial;
  font-size: 18px;
  padding-left: 20px;
}

.pTres {
  text-align: initial;
  font-size: 18px;
  padding-left: 20px;
}

.pCuatro {
  text-align: initial;
  font-size: 18px;
  padding-left: 20px;
}

.listaPead {
  list-style: none;
  padding-left: 20px;
}

.listaNosotros {
  padding-left: 20px;
}

.logoNosotros {
  display: flex;
  justify-content: center;
  width: 100%;
}

.bouleNosotros {
  width: 15%;
}

.ventaFooter{
  text-align: center;
  color: blue;
}

.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.whatsappIcono {
  width: 32px;
  height: 32px;
}


@media (max-width: 767px) {
  .logo {
    width: 50%;
  }

  .tituloPrincipal {
    font-size: 24px;
  }

  .tituloSanitarios,
  .tituloInfraestructura,
  .tituloTendido,
  .tituloPead {
    font-size: 20px;
  }

  .intro,
  .pUno,
  .pDos,
  .pTres,
  .pCuatro {
    font-size: 16px;
  }
}

/* Estilos para tablets y dispositivos con pantalla más grande */
@media (min-width: 768px) and (max-width: 991px) {
  .logo {
    width: 70%;
  }
}

@media (max-width: 767px) {
  nav {
    position: sticky;
  }
}

@media (max-width: 768px) {
  .section {
    padding-top: 0px;
  }
}

/* Estilos para tablets y dispositivos con pantalla más grande */
@media (min-width: 768px) and (max-width: 991px) {
  .logo {
    width: 70%;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .carousel-inner img {
    max-width: 100%;
    height: auto;
  }
}

/* Estilos para tablets y dispositivos con pantalla más grande */
@media (min-width: 768px) and (max-width: 991px) {
  .carousel-inner img {
    max-width: 80%;
    height: auto;
  }
}

@media (max-width: 844px) {
  .whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
  }
}

@media (max-width: 768px) {
  .logoContainer {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .lista {
    display: flex;
    justify-content: center;
    padding-left: 15%;
  }
}

@media (max-width: 768px) {
  .boule {
    padding: 0%;
  }
}

@media (max-width: 768px) {
  .contacto {
    display: flex;
    justify-content: center;
    padding-left: 0%;
  }
}

@media (max-width: 768px) {
  .mail {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .tel {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .icon {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .image-wrapper {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 480px) {
  .image-wrapper {
    width: 100px;
    height: 100px;
  }
}

